@use '../../styles/variables.scss' as v;
@use '../../styles/mixins.scss' as m;
@use '../../styles/functions.scss' as f;

.button {
  background: v.$gold;
  cursor: pointer;
  transition: background-color, 0.5s;
  display: grid;
  place-content: center;
  color: v.$black;

  a {
    width: 100%;
    height: 100%;
    font-family: v.$Cormorant;
    font-weight: 700;
    line-height: f.ratio(16, 28);
    letter-spacing: 0.04em;
    color: v.$black;
    display: block;
    padding: 0.5rem 2rem;
  }

  &:hover {
    background: #e2c768b4;
  }
}

// .container {}