$maxWidth: 1920;
$maxWidthContainer: 1680;

$Cormorant : 'Cormorant Upright',
sans-serif;
$Open: 'Open Sans',
  sans-serif;

$gold: #DCCA87;
$black: #0c0c0c;
$darkGrey: #545454;
$f5e: #f5efdb;
$grey: #aaaaaa;
$fa: #fafafa;
$white: #ffffff;