@use '../../../styles/variables.scss' as v;
@use '../../../styles/mixins.scss' as m;
@use '../../../styles/functions.scss' as f;

.today {
  background: url('../../../images/line1.png')right -162.5rem no-repeat, #0C0B08;
  padding-block: 9.5rem;
  @include m.adaptiv-value('padding-inline', 190, -190, 1);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.contant {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;

  &:not(:last-child) {
    margin-bottom: 4.0625rem;
  }

  @include m.netbook {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 'wine cocktails' 'image image';
  }

  @include m.tablet {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 'wine wine' 'image image' 'cocktails cocktails';
  }
}

.wine,
.cocktails {
  padding-block: 2rem;
}

.wine {
  @include m.netbook {
    grid-area: wine;
  }
}

.cocktails {
  @include m.netbook {
    grid-area: cocktails;
  }
}

.wineTitle,
.cocktailsTitle {
  text-align: center;
  font-family: v.$Cormorant;
  font-weight: 600;
  font-size: 2.8125rem;
  line-height: f.ratio(45, 58.5);
  letter-spacing: 0.04em;
  color: v.$white;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}

.image {
  background: url('../../../images/Today/bg1.jpg')center center/cover no-repeat;

  @include m.netbook {
    grid-area: image;
    background: url('../../../images/Today/bg1.jpg')center/auto no-repeat;
  }
}

.wineList,
.cocktailsList {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;

  @include m.laptop {
    row-gap: 1.25rem;
  }
}

.ItemTitle {
  display: flex;
  justify-content: space-between;
  position: relative;

  &:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  &::after {
    height: 1px;
    @include m.adaptiv-value('width', 119, 0, 1);
    content: '';
    background-color: v.$white;
    position: absolute;
    top: 50%;
    right: 4.3125rem;
    transform: translateY(-50%);

    @include m.tablet {
      width: 2.8125rem;
    }
  }
}

.name,
.price {
  font-family: v.$Cormorant;
  font-weight: 700;
  font-size: 1.4375rem;
  line-height: f.ratio(23, 29.9);
  color: v.$gold;
  letter-spacing: 0.04em;
  text-transform: capitalize;

  @include m.laptop {
    font-size: 1.25rem;
    line-height: f.ratio(20, 26.9);
  }
}

.price {
  color: v.$white;
}

.composition {
  line-height: f.ratio(16, 28);
  color: v.$grey;
  letter-spacing: 0.04em;
}